*.iml
.gradle
.kotlin/
/local.properties
.idea/
.DS_Store
/build
**/build/
**/out/
/captures
.externalNativeBuild
.cxx
local.properties
*.log
*.hprof
*.jks
*.keystore
app/src/main/res/drawable/assets/
app/src/main/res/drawable/billione/
app/src/main/res/drawable/avelloz_160.png
app/src/main/res/drawable/avelloz_160_black.png
app/src/main/res/drawable/avelloz_160_blue.png
app/src/main/res/drawable/avelloz_160_clean.png
app/src/main/res/drawable/avelloz_160_nobg.png
app/src/main/res/drawable/hero_bg.jpg
app/src/main/res/drawable/hero_bg_2.jpg
app/src/main/res/drawable/hero_bg_3.jpg
app/src/main/res/drawable/hero_bg_4.jpg
app/src/main/res/drawable/hero_bg_moto3.jpg
app/src/main/res/drawable/logo_billione_trimmed.png
app/src/main/res/drawable/moto_eletrica.png
app/src/main/res/drawable/moto_sport.png
app/src/main/res/drawable/moto_sport_esd.png
app/src/main/res/drawable/moto_sport_new.png
